# ===============================
# WRITE SERVICE CONFIG
# ===============================

WRITE_SERVICE_PORT=8080

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=products_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password


# ===============================
# READ SERVICE CONFIG
# ===============================

READ_SERVICE_PORT=8081

MONGO_URI=mongodb://mongo:27017
MONGO_DB=products_read_db


# ===============================
# KAFKA CONFIGURATION
# ===============================

KAFKA_BROKERS=kafka:29092
KAFKA_TOPIC=pg-server.public.products


# ===============================
# DEBEZIUM CONFIG
# ===============================

DEBEZIUM_CONNECT_URL=http://connect:8083
DEBEZIUM_CONNECTOR_NAME=products-connector


# ===============================
# CONSUMER CONFIG
# ===============================

CONSUMER_GROUP=products-sync-group